<footer>
    <div class="fa-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
    </div>
    <div class="fa-info-text">Wanderlust Pvt limited</div>
    <div class="fa-info-links">
        <a href="">Privacy</a>
        <a href="">T&C</a>
    </div>
</footer>